.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  margin: 0 auto;
  border: none;
  width: 100%;
  height: 100%;
  background: rgb(242, 145, 25);
  background: linear-gradient(
    90deg,
    rgba(242, 145, 25, 0.9836309523809523) 0%,
    rgba(245, 95, 79, 1) 50%,
    rgba(242, 145, 25, 1) 100%
  );
}

.title {
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
  color: #191815;
  text-shadow: #fc0 1px 0 10px;
}
